# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Android
android/build/
android/.gradle/
android/local.properties
*.keystore

# iOS
ios/build/
ios/Pods/
ios/DerivedData/
ios/.DS_Store
ios/xcuserdata/
ios/*.xcworkspace
ios/*.xcuserstate
ios/*.hmap
ios/*.ipa
ios/.xcode.env.local
ios/*.jsbundle

# Env
.env
.env.*
app-example

# generated native folders
# (ta bort dessa rader så ios/ och android/ INTE ignoreras)
# /ios
# /android
